/* containers */
.container {
    width: 90%;
}

.container div {
    display: inline-block;
    margin-top: 20px;
}

/* Search Bar */
.search-container {
    margin-right: 20px;
    margin-top: 0px;
    width: 30%;
}

.search-container form div.field {
    margin: 0;
    width: 100%;
}

.auth-container, .search-container{
    position: relative;
    float: right;
}

/* If max-width is less than 568px */
@media (max-width: 568px) {

    .logo-container {
        margin-left: auto;
    }

    .search-container {
        width: 100%;
        margin: 0 auto;
    }
}


header.account-masthead {
    height: 100px;
    background-color: #fff;
}

@media (max-width: 767px) {
    .account-masthead {
        margin: 0px;
        padding: 0px;
    }
}

.account-masthead .account {
    float: left;
}

.site-search {
    line-height: 59px;
    width: 100%;
}

.masthead {
    background-color: #f1f0f0;
}

.masthead .nav-collapse {
    float: left;
}

.nav-tabs>li, .nav-pills>li {
    position: relative;
    left: 25px;
}

.navbar .nav>li>a {
    padding: 17px 2px 10px;
    color: #585858;
}

.masthead .container {
    margin: 0;
}

.account-masthead .account ul li {
    border-left: 0px;
}

.account-masthead .account ul li a {
    color: #0057A8;
    font-size: 20px;
    line-height: 59px;
}

body {
    padding: 0px;
    background-color: #fff;
}

.site-footer {
    background: #001A49;
}

.row {
    margin-left: 20px;
}

.site-footer a {
    color: #bfbfbf;
}

.navbar-static-top {
    margin: 0;
}

.footer-links {
    display: inline-block;
    vertical-align: top;
    width: 30%;
}

@media (max-width: 760px) {
    .footer-links {
        width: 100%;
    }
}

.footer-links h2 {
    text-transform: uppercase;
    color: #E0B111;
    font-size: 1.8em;
    font-weight: normal;
    margin: 1em 0 .5em 0;
    line-height: 1.1;
}

.usa-unstyled-list {
    list-style: none;
    line-height: 1.5;
    margin: 0;
}

.usa-unstyled-list li {
    margin-bottom: 0;
    line-height: 1.5;
    max-width: 80em;
}

body>footer a, body>footer a:visited {
    color: #bfbfbf;
}

footer a:visited {
    color: #3787BA;
}

/* hide a tag style */
a.disabled {
   pointer-events: none;
   cursor: default;
}

.masthead .navigation .nav-pills li a:hover, .masthead .navigation .nav-pills li.active a {
    background-color: inherit;
    color: #3787BA;
}

@media screen and (min-width: 901px) {
    .logo {
        width: 305px;
    }
}

@media (max-width: 900px) {
    .logo {
        width: 200px;
    }
}

@media (max-width: 613px) {
    .search-container {
        width: 100%;
        margin-right: 0px;
    }

    .logo-container {
        position: relative;
        width: 60%;
        left: 20%;
    }
    .logo {
        position: relative;
        left: 10%;
        width: 80%;
    }

    .auth-container {
        width: 20%;
    }

    .account-masthead .account ul li a {
        font-size: 8px;
        line-height: 40px;
        padding: 0px 2px 0px 0px;
    }
}

/* Lexington seal and terms of use */
.seal {
    max-width: 80px;
}

.lexington-footer div {
    display: inline-block;
    vertical-align: bottom;
    margin-top: 10px;
    margin-right: 10px;
}

.toolbar {
    display: inline !important;
}
