.logo {
    width: 305px;
}

.container {
    margin: 20px 73px;
    width: 80%;
}

header.account-masthead {
    height: 100px;
    background-color: #fff;
}

.masthead {
    background-color: #f1f0f0;
}

.masthead .container {
    margin: 0;
}

.account-masthead .account ul li {
    border-left: 0px;
}

.account-masthead .account ul li a {
    color: #0057A8;
    font-size: 20px;
    line-height: 59px;
}

.navbar .nav > li > a {
    color: #585858;
}

body {
    padding: 0px;
    background-color: #fff;
}

.site-footer {
    background: #001A49;
}

.site-footer a {
    color: #bfbfbf;
}

.navbar-static-top {
    margin: 0;
}

.footer-links h2 {
    text-transform: uppercase;
    color: #E0B111;
    font-size: 1.8em;
    font-weight: normal;
    margin: 1em 0 .5em 0;
    line-height: 1.1;
}

.usa-unstyled-list {
    list-style: none;
    line-height: 1.5;
    margin: 0;
}

.usa-unstyled-list li {
    margin-bottom: 0;
    line-height: 1.5;
    max-width: 80em;
}

body>footer a, body>footer a:visited {
    color: #bfbfbf;
}

footer a:visited {
    color: #3787BA;
}
