.logo {
    width: 305px;
}

.container {
    margin: 20px 73px;
    width: 80%;
}

header.account-masthead {
    height: 100px;
    background-color: #fff;
}

.masthead {
    background-color: #f1f0f0;
}

.masthead .container {
    margin: 0;
}

.account-masthead .account ul li {
    border-left: 0px;
}

.account-masthead .account ul li a {
    color: #0057A8;
    font-size: 20px;
    line-height: 59px;
}

.navbar .nav > li > a {
    color: #585858;
}

body {
    padding: 0px;
    background-color: #fff;
}

.site-footer {
    background: #001A49;
}

.site-footer a {
    color: #bfbfbf;
}

.navbar-static-top {
    margin: 0;
}
