{% block home_image %}
    <div class="promotion">
        <h1 class="page_heading">{{g.site_title}}</h1>
        <p class="welcome">Welcome to Lexington’s open data portal, a collaborative effort between <a href="http://www.lexingtonky.gov">LFUCG</a> and the community. Our mission is to promote the openness, transparency and accountability of local government by providing high-value government data in standards compliant, machine readable format. This will serve as the basis for the creation of useful civic applications by third party developers.</p>
        <p class="welcome">Address Points are now available!  Lexington is the first city in Kentucky to freely release its complete address point dataset.  The GIS layer includes point and address information for approximately 175,000 unique locations.  It is the repository for all addresses within Fayette County. The new data layer is located within the &quot;<a href="group/community">Community</a>&quot; category.</p>
        <p class="welcome">In continuing our partnership with Fayette County Public Schools, we plan to offer their new school district boundaries once they are approved and available for public release.</p>
        <p class="welcome">We will continue to expand our data catalog and offerings to build on the foundation we have established.</p>
    </div>
{% endblock %}
